::ng-deep.widget-card .mat-card-header-text{
    width: 100%;
    margin: 0;
}
::ng-deep.widget-card .mat-card-header-text .mat-card-title{
    margin-bottom: 0px;
}
::ng-deep.widget-card .mat-card-actions{
    height: 47px;
    margin-right: 50px;
    margin-bottom: 0px !important;
    padding: 0px !important;
    margin-left: 50px !important;
}
::ng-deep.widget-card .mat-card-content{
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.widget{
    top: 10px;
    height: 270px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 6px #00000008;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    opacity: 1;
    padding: 0 !important;
    margin-bottom: 25px;
}
.widget-header{
    height: 51px;
    border-bottom:1px solid #E5E5E5;
    opacity: 1;;
}
.widget-header-controls{
    width: 100%;
    margin-top: 13.5px;
}
.widget-title{
    text-align: left;
    font: normal normal bold 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.7;
    margin-left: 24px;
}
.blank-widget{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 320px;
}
.category-type{
    margin-bottom: 15px;
}
.category-container{
    padding: 10px !important;
}