/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #F7F9FB;
  overflow-x: hidden;
  // overflow-y: hidden;
}

.imageClass{
    height: 200px;
}
.set-width {
    margin-left: 18px;
    width: calc(100% - 20px);
  }
.mgb-22 {
    margin-bottom: 22px;
}  
.mglr-10 {
    margin: 0px 10px;
}
.btn-height {
    height: 32px;
    width: 100px;
}
.mgr-20 {
  margin-right: 20px;
}
.mgl-30 {
  margin-left: 20px;
}
.mrt{
  margin-top: 3px;
}
.currency-btn {
  color: #E64552;
  border-radius: 4px;
  border: 1px solid #E64552;
}
.currencyText {
  cursor: pointer;
  text-align: left;
  font: normal normal 600 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #E64552;
  opacity: 1;
  padding: 5px;
}
::ng-deep .mat-menu-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.mat-menu-item {
  line-height: 35px !important;
  height: 35px !important;
  outline: none;
}
::ng-deep .mat-menu-panel{
  margin-top: 4px;
  margin-left: -16px;
}
.no-data{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-data-text{
    display: grid;
}
.textClass{
    text-align: center;
    font: normal normal 600 15px/17px Open Sans;
}
.cardBackground{
    color: #E64552;
    border-top: 1px solid #E64552;
    background: #efefef;
    cursor: pointer;
    padding: 5px;
}
.cardText{
    font: normal normal 600 12px/17px Open Sans;
}
.paginator .ui-paginator {
  float: left !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ui-paginator {
  border: none !important;
  background: #fff !important;
  float: right !important;
}
.ui-paginator-prev:hover .pi-caret-left:after {
  background-color: #e0e0e0;
  color: #333333;
}
.ui-paginator-prev:hover {
  background-color: #e0e0e0;
  color: #333333;
}
.ui-paginator-next:hover {
  background-color: #e0e0e0;
  color: #333333;
}
.ui-paginator-next:hover .pi-caret-right:after {
  background-color: #e0e0e0;
  color: #333333;
}
.ui-paginator-prev {
  width: 88px !important;
  margin-right: -1px !important;
  border-radius: 3px 0px 0px 3px !important;
}
.ui-paginator-next {
  width: 73px !important;
  margin-left: -1px !important;
  border-radius: 0px 3px 3px 0px !important;
}
body .ui-paginator {
  border: 1px solid lightgray !important;
  border-radius: 4px;
}
.ui-state-default {
  border-right: 1px solid lightgray !important;
}
.ui-paginator-first {
  display: none !important;
}
.ui-paginator-last {
  display: none !important;
}
.ui-paginator {
  font-size: 14px !important;
  margin-bottom: 10px !important;
}
.ui-paginator-page.ui-state-active {
  background: #ee3441 !important;
  color: white !important;
}
.ui-paginator {
  margin-top: 5px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.mat-card-image {
  width: calc(100% + 8px) !important;
  margin: -2px 0px 0px -5px !important;
}
.cursor-pointer{
  cursor: pointer !important;
}
